In [2]:
import pandas as pd
all_ages=pd.read_csv("all-ages.csv")
all_ages.head(5)

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423.0,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266.0,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821.0,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619.0,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894.0,0.049188,62000,38500,90000.0

In [4]:
recent_grads=pd.read_csv("recent-grads.csv")
recent_grads.head(5)

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [5]:
all_ages_MC_unique=all_ages['Major_category'].unique()
print(all_ages_MC_unique)

['Agriculture & Natural Resources' 'Biology & Life Science' 'Engineering'
 'Humanities & Liberal Arts' 'Communications & Journalism'
 'Computers & Mathematics' 'Industrial Arts & Consumer Services'
 'Education' 'Law & Public Policy' 'Interdisciplinary' 'Health'
 'Social Science' 'Physical Sciences' ' Physical Sciences'
 'Psychology & Social Work' '15726' 'Arts' 'Business']

In [6]:
recent_grads_MC_unique=recent_grads['Major_category'].unique()

In [8]:
#Nombre de lignes par catégorie de Major
occurence_all_ages_MC_unique={}
for i in all_ages_MC_unique:
    occurence_all_ages_MC_unique[i]=all_ages[all_ages["Major_category"]==i].shape[0]
print(occurence_all_ages_MC_unique)

{'Agriculture & Natural Resources': 10, 'Biology & Life Science': 14, 'Engineering': 29, 'Humanities & Liberal Arts': 15, 'Communications & Journalism': 4, 'Computers & Mathematics': 11, 'Industrial Arts & Consumer Services': 6, 'Education': 16, 'Law & Public Policy': 5, 'Interdisciplinary': 1, 'Health': 12, 'Social Science': 9, 'Physical Sciences': 9, ' Physical Sciences': 1, 'Psychology & Social Work': 9, '15726': 1, 'Arts': 8, 'Business': 13}

In [10]:
#Nombre d'étudiants par catégorie
nbreEtudiantCateg={}
for i in all_ages_MC_unique:
    age_cat=all_ages[all_ages['Major_category']==i]
    nbreEtudiantCateg[i]=age_cat['Total'].sum()
print(nbreEtudiantCateg)

{'Agriculture & Natural Resources': 632437, 'Biology & Life Science': 1338186, 'Engineering': 3576013, 'Humanities & Liberal Arts': 3738335, 'Communications & Journalism': 1803822, 'Computers & Mathematics': 1781378, 'Industrial Arts & Consumer Services': 1018072, 'Education': 4700118, 'Law & Public Policy': 902926, 'Interdisciplinary': 45199, 'Health': 2950859, 'Social Science': 2654125, 'Physical Sciences': 1013152, ' Physical Sciences': 12166, 'Psychology & Social Work': 1987278, '15726': 12607, 'Arts': 1805865, 'Business': 9858741}

In [11]:
#passanger_survavil=titanic_survival.pivot_table(index="pclass",values="survived")
#print(passanger_survavil)
def nbreEtudiantCategorie (dataset):
    return dataset.pivot_table(index="Major_category",values="Total")

In [17]:
aa_cat_counts=nbreEtudiantCategorie(all_ages)
rg_cat_counts=nbreEtudiantCategorie(recent_grads)
#print(aa_cat_counts)
print(rg_cat_counts)

                                             Total
Major_category
Agriculture & Natural Resources        7998.100000
Arts                                  44641.250000
Biology & Life Science                32418.714286
Business                             100182.769231
Communications & Journalism           98150.250000
Computers & Mathematics               27182.545455
Education                             34945.562500
Engineering                           18537.344828
Health                                38602.500000
Humanities & Liberal Arts             47564.533333
Industrial Arts & Consumer Services   32827.428571
Interdisciplinary                     12296.000000
Law & Public Policy                   35821.400000
Physical Sciences                     18547.900000
Psychology & Social Work              53445.222222
Social Science                        58885.111111

In [20]:
#Taux de jobs à faible salaire
low_wage_proportion=recent_grads['Low_wage_jobs'].sum()*100/recent_grads['Total'].sum()
print(low_wage_proportion)

9.852546076122913

In [36]:
#Comparer de datasets

rg_lower_count=0
for i in all_ages['Major'].unique():
    if recent_grads[recent_grads['Major']==i]['Unemployment_rate'].min()<= all_ages[all_ages['Major']==i]['Unemployment_rate'].min():
        rg_lower_count+=1
    
    
print(rg_lower_count)

43